@import "~bulma/bulma";
@import "~font-awesome/scss/font-awesome";

#app {
	background-image: url(/images/pattern2.png);
	background-blend-mode: soft-light;
	background-color: rgba(10, 10, 10, 0.91);
}
.navbar-dropdown a {
	color: initial !important;
}
.hand {
	cursor: pointer;
}
.sd {
	box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.43);
}
.fc {
	display: flex;
    justify-content: center;
    align-items: center;
}
.video-player-dimensions {
	width: 100%;
	height: auto;
}
.video-js {
	width: auto;
	height: auto;
}
.video-js .vjs-tech {
	position: relative;
	margin-bottom: -0.2em;
}
.playing {
	background: rgba(255, 255, 255, 0.5);   
}
.button.is-danger.is-outlined:focus {
	background-color: transparent;
}