@import "~bulma/bulma";

$border-3: 3px solid #fff; 
$h-100: 100%;

figure {
	border: $border-3;
}
figure .hero-body {
	height: $h-100;
}
.video-player-dimensions {
	width: 100%;
	height: auto;
}
.video-js {
	width: auto;
	height: auto;
    /*background-color: transparent;*/
}
.video-js .vjs-tech {
	position: relative;
	margin-bottom: -0.2em;
}
.playing {
	background: rgba(255, 255, 255, 0.7);   
}
