@import "~bulma/bulma";

#app {
	background-image: url(/images/pattern4.png);
}
hr {
	height: 0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #504f4f;
}
.button.is-link {
	text-decoration: none;
}
.navbar.is-black {
	background-color: rgba(10, 10, 10, 0.13);
}
.navbar.is-black a.navbar-item:hover {
	background-color: transparent !important;
}
@media screen and (max-width: 1023px) {
	.navbar-menu {
		background-color: inherit;
	}
}
.hand {
	cursor: pointer;
}
.sd {
	box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.43);
}
.flex {
	display: flex;
}
.fd-v {
	flex-direction: column;
}
sup {
	padding-top: 0.3em;
}
.fc {
	display: flex;
    justify-content: center;
    align-items: center;
}
.video-player-dimensions {
	width: 100%;
	height: auto;
}
.video-js {
	width: auto;
	height: auto;
}
.video-js .vjs-tech {
	position: relative;
	margin-bottom: -0.2em;
}
.playing {
	background: rgba(255, 255, 255, 0.5);   
}
.button.is-danger.is-outlined:focus {
	background-color: transparent;
}
.hero.is-halfheight .hero-body, .hero.is-fullheight .hero-body {
	align-items: inherit;
}
.menu-list a:hover {
	background: inherit;
	color: $primary !important;
}
.message.plan .message-header{
    justify-content: center;
}